<table class="default-table">
    <tr>
        <th>Year</th>
        <th>Investment Value</th>
        <th>Interest(YEAR)</th>
        <th>Total Interest</th>
        <th>Interested Capital</th>
    </tr>
    @for(data of investmentCalcService.annualData; track data.year) {
        <tr>
            <td>
                {{data.year}}
            </td>
            <td>
                {{data.annualInvestment}}
            </td>
            <td>
                {{data.interest}} 
            </td>
            <td>
                {{data.totalInterest}}
            </td>
            <td>
                {{data.totalAmountInvested}}
            </td>
        </tr>
    }
</table>